*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.PageContainer{
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: sans-serif;
  padding-right: 10px;
}

.SignUp{
display: flex;
align-items: center;
justify-content: space-between;
padding: 40px;
background: linear-gradient(to right, 
  #e6f8fd, #c7eaf2, #cbebf2, #d7f2f6, #c6e2f9, 
  #a4cbfa, #88c4fd, #80bffe, #81c1fe, #6cb1fa);
 border-radius: 20px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
margin-bottom: 40px;
}

 

.SignBox{
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    background-color: #3c7cdc;
    padding: 10px  25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 2px;
    cursor: pointer;
}

.SignLeftSide{
    color: #435177;
}

.Top5Container{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 45px;

}

.Top5{
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 border-radius: 15px;
 width: 100%;
 max-width: 375px;
 padding: 30px 15px 15px 15px;
 
}

.TopName{
  display: flex;
 margin-left: 10px;
  align-items: center;
  gap: 20px;
  color: #2a3b64;
  margin-bottom: 25px;
}

.Icon{
  background-color: #c4dfe93f;
  padding: 4px;
}

.TopHeaders{
  display: flex;
  justify-content: space-between;
   color: #1c2536d3;
   font-size: 0.75rem;
 margin-bottom: 10px;
}



.TopSides{
  display: flex;
   justify-content: space-between;
}

.TopLeft{
  display: flex;
  flex-direction: column;
  gap: 20px;
  
}

 

.Token{
  display: flex;
  align-items: center;
    gap: 25px;
  font-size: 0.9rem;
}

.Token img{
  width: 40px;
  border-radius: 50%;
}

.Token div:first-child{
  color: #2d3c63e5;
  font-weight: bold;
}

.Token>div>div{
  color: #666d7cb0;
}

.TopRight{
  display: flex;
  flex-direction: column;
  gap: 25px;
  
 
}

 
.Interact{
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.Interact>div:first-child{
  color: #2d3c63ec;
  font-weight: bold;
  font-size: 0.85rem;
  margin-left: auto;
 
}

.SevenContainer{
  display: flex;
  gap: 10px;
  font-size: 0.9rem;
}

.Top24{
background-color: #aac7d128;;
color: #0a2744bb;
font-weight: bold;
font-size: 0.8rem;
}

 


.Inc{
  color: #61af95;
}

.Dec{
  color: #ea3943;
  margin-left: auto;
}

.AllTokensContainer{
  background-color: white;
}

.AllTokensTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.AllTokensTop h2{
  color: #2a3b64;
}



.AllTokensRight{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20PX;
  flex: 1;
}

.SearchContainer{
  display: flex;
   align-items: center;
  width: 100%;
  max-width: 250px;
  padding: 6px;
  border-radius: 3px;
  background-color:#e4ebf4;
   color: #676f79;;
 
}
.SearchContainer input{
    border: none;
    outline: none;
    flex: 1;
    padding-left: 10px;
    background-color: #e4ebf4;
     color: #676f79;
}

.SearchContainer input::placeholder{
   color: #676f79;
}

.ColumnContainer,.FilterContainer{
  background-color:#e4ebf4;
  color: #676f79;;
  display: flex;
  gap: 10px;
  font-size: 0.8rem;
  padding-left: 18px;
  padding: 5PX;
  border-radius: 3px;
}

.AllTokensSecond{
  padding: 10px;
  display: flex;
  gap: 20px;
}

.StarContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.StarContainer svg:first-child{
   color: rgb(21, 135, 201);
}

.StarContainer>div{
display: flex;
color: rgb(21, 135, 201);
gap: 45px;
}

.TokenContainer{
display: flex;
flex-direction: column;
margin-right: 50px;
gap: 20px;
}

.TokenTop{
  display: flex;
  align-items: center;
  color: #293f72;
  letter-spacing: 0.5px;
}

.TokenBelow{
  display: flex;
  gap: 10px;
}

.TokenBelow img{
  width: 35px;
  height: 35px;
}

.TokenBelow>div{
  display: flex;
   flex-direction: column;
  gap: 5px;
  font-size: 0.9rem;
  color: #04173f;
}

.TokenBelow>div>div:last-child{
   color: #676f79;
}


.PriceContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-right: 40px;
}

.PriceBelow{
display: flex;
flex-direction: column;
gap: 5px;
}

.PriceBelow h5{
  color: #0a2744e7;
  font-weight: bold;
  letter-spacing: 1px;
}

.Prices{
 display: flex;
 gap: 10px;
 font-size: 0.9rem;
}

.MarketContainer{
display: flex;
flex-direction: column;
margin-right: 50px;
gap: 20px;

}

.MarketBelow{
  margin-top: 10px;
  color: #0a2744e7;
  font-weight: bold;
  letter-spacing: 1px;
}

.VolumeContainer{
  display: flex;
flex-direction: column;
margin-right: 50px;
gap: 20px;
}

.SocialContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.SocialSides{
  display: flex;
  gap: 10px;
}

 


.SocialLeft,.SocialRight{
display: flex;
gap: 5px;
}

.SocialBelow{
display: flex;
flex-direction: column;
gap: 5px;
}

.SocialBelow h5{
  color: #0a2744e7;
  font-weight: bold;
  letter-spacing: 1px;
}

.Socials{
 display: flex;
 gap: 10px;
 font-size: 0.9rem;
}

.SocialSides img{
  width: 35px;
}

.CirculatingContainer{
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  gap: 20PX;
}
 

 
 
 
 
 

/*.AllTokensSecond{
  display: flex;
  justify-content: space-between;
   color: #162342;
   font-weight: 550;
   font-size: 0.8rem;
 
}

.AllTokensSecond  svg:first-child{
  color: rgb(49, 120, 202);
  font-size: 1.2rem;
}

.SecondRowContainer{
  display: flex;
  align-items: center;
}

.TwoIcons{
  display: flex;
  align-items: center;
  color: rgb(42, 136, 212);
  font-size: 1.2rem;
 
}

.AllTokensThird{
 display: flex;
justify-content: space-between;
margin-right: 190px;
 
}

 

.Price{
  display: flex;
  flex-direction: column;
 
}

.PriceBelow{
  display: flex;
  width: fit-content;
  gap: 10px;
}

.MarketCap{
  color: #162342;
}

.Volume{
  display: flex;
  flex-direction: column;

}

.VolumeBelow{
  display: flex;
  width: fit-content;
  gap: 10px;
}

.SFollowing{
  display: flex;
  gap: 20px;
}

.SFollowingLeft{
  display: flex;
}

.DiscordContainer{
 display: flex;
 flex-direction: column;
}

.Discord2{
  display: flex;
  gap: 5px;
}


.SFollowingRight{
  display: flex;
}

.TwitterContainer{
 display: flex;
 flex-direction: column;
}

.Twitter2{
  display: flex;
  gap: 5px;
}*/



 
 

 
 

 






 

